<div class="container">
    <h2 class="bg-light mt-3 py-1">TODOリスト</h2>
    <form method="POST" action="/tasks">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-row">
            <div class="form-group col-sm-9">
                <input type="text" class="form-control" id="inputTitle" name="title" placeholder="タイトル">
            </div>
            <div class="form-group col-sm-3">
                <input type="submit" id="btnAdd" class="btn btn-primary mb-3" value="追加">
            </div>
        </div>
    </form>

    <div class="alert alert-warning" role="alert" id="divAlert">
        <span id="inputAlert"></span>
    </div>

    <div class="table-responsive">
        <table class="table table-hover" id="todoList">
            <thead>
                <tr>
                    <th>#</th>
                    <th>タスク内容</th>
                    <th>状態</th>
                </tr>
            </thead>
            <tbody>
                <% @tasks.each do |task| %>
                    <tr>
                    <td><%= task.id %></td>
                    <td><%= task.title %></td>
                    <td><%= task.status %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
