<div class="container" id="app" ng-controller="TodoListCtrl" >
    <div class="form-row w-100">
        <div class="input-group my-3">
            <input type="text" class="form-control" placeholder="..." aria-label="..." aria-describedby="addTaskBtn" ng-model="inputTodo">
            <button type="submit" id="addBtn" class="btn btn-outline-secondary" ng-click="addTodo()">追加</button>
        </div>
        <div class="w-100">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="todo in todos">
                    <span class="d-block">
                        <input type="checkbox" class="form-check-inline" id="statusCheck" ng-model="todo.done" ng-change="updateTodo(todo.id)"}>
                        <label class="form-check-label" for="statusCheck">{{todo.title}}</label>
                        <button class="btn btn-danger btn-sm float-sm-right" type="submit" ng-click="deleteTodo(todo.id)">×</button>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
